header {
width: 1280px;
/* border:  2px solid red; */
margin: 0 auto;
padding-left: 44px;
padding-top: 16px;
padding-right: 67px;
padding-bottom:40px ;

}
.headpic {
    
    width: 374px;
    height: 94px;
    vertical-align: middle;
    
}

nav {
 display: inline-block;
 margin-left: 22px;
 margin-right: 174px;
 }

 li {

    display: inline-block;
    margin-right: 75px;

    /* li ერთმანეთისგან უნდა იყოს დაშრებული 100 პიქსელით. ვერ ვაშორებ, სავარაუდოდ ადგილი არ ყოფნის. */
 }

 section {
    width: 1280px;
    margin: 0 auto;
    background-color: #306B34;
    padding-top: 174px;
    padding-left: 95px;
    padding-right: 94px;
    padding-bottom: 152px;
 }

 .mainpic {

    width: 679px;
    height: 453px;
    margin-right: 78px;
 }

 div {

    width: 306px;
    height: 394px;
    display: inline-block;
    vertical-align: top;

 }

 .text1{

    margin-top: 70px;
 }
 
 article {

    width: 1280px;
    margin: 0 auto;
    padding-top: 55px;
    padding-right: 129px;
    padding-bottom: 150px;
    padding-left: 185px;
 }

 .artpic {
    width: 273px;
    height: 98px;
    /* სურათი რა კოდით შეიძლება ჰორიზონტალურად გაიცენტროს
    ? სათითაოდ მარჯინების გაწერა რომ არ დამჭირდეს */
    margin-top: 75px;
    margin-bottom: 82px;
    margin-left: 305px;
 
   
}

.text2 { 
    display: inline-block;
    width: 958px;

}
